/* ========== Import fonts from Google ========== */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* =========== Reset some basic elements ========== */

body, h1, h2, h3,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/* =========== Style the body ========== */

body {
  color: #111;
  background-color: #fff;
  font: normal 100%/150% "Open Sans",
                         "Helvetica Neue",
                          Helvetica,
                          Arial,
                          sans-serif;
  font-feature-settings: "kern" 1; /* TODO: needs vendor prefixes? */
  font-kerning: normal;            /* TODO: needs vendor prefixes? */
  scroll-behavior: smooth;
}

/* =========== Sections ========== */

section {
  min-height: 100vh;
}

/* =========== Intro ========== */

#intro {
  background-color: #ccb081;
}

/* =========== Style the header & nav ========== */

header,
nav ul {
  display: flex;
}

header {
  align-items: center;
  justify-content: space-between;
  padding: 2em 12em;
}

header h1,
header nav {
  color: #fff;
  flex: 1;
}

nav ul {
  justify-content: space-around;
}

nav li {
  list-style: none;
}

nav a {
  color: #fff;
  font-size: .75em;
  text-decoration: none;
  text-transform: uppercase;
}

a[href="buy-now"] {
  border: 1px solid white;
  border-radius: 20px;
  padding: 5px 20px;
}

/* =========== About ========== */

#about {
  text-align: center;
}

#about h1 {
  margin: 2em;
}



